body {
	margin: 0 20px;
	font-family: 'Roboto', sans-serif;
}
.header {
	display: flex;
	width: 100vw;
	height: 50px;
	border-bottom: 1px solid grey;
	font-size: 25px;
	&__title {
				align-self:flex-end;
	}
}